.con {
    color: #2360B1;
}
.lib {
    color: D71920;
}
.ndp {
    color: F37021;
}
.grn {
    color:  #2F873E;
}
.bq {
    color: lightskyblue;
}
.con-proj {
    background-color: #2360B1;
}
.lib-proj {
    background-color: D71920;
}
.ndp-proj {
    background-color: F37021;
}
.grn-proj {
    background-color:  #2F873E;
}
.bq-proj {
    background-color: lightskyblue;
}
.estimate {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 50px;
}
.riding {
    font-size: 18px;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
}
.ridingname {
    float: left;
    text-align: right;
    width: 50%;
}
.sequence {
    float: right;
    text-align: left;
    width: 50%;
}
.provincetitle {
    display: inline-block;
    font-size: 26px;
    padding-top: 20px;
}
.projection {
    float: left;
    font-size: 14;
    font-weight: bold;
    text-align: center;
    width: 50px;
    color: white;
}
.strategic {
    text-decoration: underline;
}
.footnote {
    font-size: 14;
    font-style: oblique;
    padding-top: 20px;
}
body {
    color:#777;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}
p {
    margin: auto;
    max-width: 600;
    padding-top: 8px;
}
