.con {
    color: #2360B1;
}
.lib {
    color: D71920;
}
.ndp {
    color: F37021;
}
.grn {
    color:  #2F873E;
}
.bq {
    color: lightskyblue;
}
.estimate {
    float: left;
    font-weight: bold;
    text-align: center;
    width: 50px;
}
.riding {
    font-size: 18px;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
}
.ridingname {
    float: left;
    text-align: right;
    width: 50%;
}
.sequence {
    float: right;
    text-align: left;
    width: 50%;
}
.provincetitle {
    display: inline-block;
    font-size: 26px;
    padding-top: 20px;
}
body {
    color:#777;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}
